.cartItems {
    display: grid;
    grid-template-columns: 25% 45% 30%;
    grid-template-rows: 100%;
    grid-template-areas: "img description button";
    align-items: center;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(255, 255, 255, 0);
    transition: 0.3s;
    border-radius: 5px;
    width: 95%;

    &__paragraph,
    &__items {
        font-weight: 500;
        font-size: 1vw;
    }

    &__imgContainer {
        grid-area: img;
        display: flex;
        width: 100%;
    }

    &__img {
        object-fit: scale-down;
        padding-left: 2%;
        width: 50%;
        height: 9vw;
    }

    &__descriptionContainer {
        grid-area: description;
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: auto;
        grid-template-areas: "items subTotal";
        height: 100%;
    }

    &__subDescriptionContainer {
        grid-area: subTotal;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__subItemsContainer {
        grid-area: items;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    &__buttonContainer {
        grid-area: button;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 80%;
    }

    &__button {
        width: 60%;
        height: 30%;
        background-color: rgb(235, 235, 235);
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.7);
        border-radius: 5px;
        border-style: none;
        transition: 0.3s;
        font-weight: 500;
        font-size: large;
        cursor: pointer;
    }

    &__button:hover {
        background-color: rgb(255, 0, 0);
        box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 1);
    }

    &__link {
        text-decoration: none;
        color: rgba(0, 0, 0, 1);
        font-weight: 500;
        font-size: large;
    }
}

.cartItems:hover {
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 1);
}