.cartWidget {
    position: relative;
    grid-area: cart;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    
    &__ico {
        width: 50%;
        transition: 0.3s;
        cursor: pointer;
    }

    &__ico:hover {
        width: 60%;
    }

    &__link {
        text-align: center;
    }

    &__item {
        position: absolute;
        width: 25%;
        top: 10%;
        right: 5%;
        color: rgb(225, 225, 225);
        font-weight: 600;
        font-size: 1vw;
    }
}