.nav {
    display: grid;
    grid-template-columns: 20% 37% 37% 6%;
    grid-template-areas: "logo buttons seeker cart";
    align-items: center;
    background-color: rgba(30, 40, 70);
    transition: 0.3s;
    height: 10vh;
    width: 100%;
}