.gallery {
    display: flex;
    align-items: center;
    width: 90%;

    &__img {
        object-fit: contain;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        transition: 0.3s;
        margin: 0 0.5vw;
        width: 75%;
        height: 6vw;
    }

    &__img:hover {
        box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.7);
        cursor: pointer;
    }
}