.loading {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 80%;

    &__img {
        animation: rotation 1s infinite linear;
        position: relative;
        width: 20%;
    }

    &__paragraph {
        color: rgb(100,100,100);
        position: absolute;
        top: 85%;
        font-size: x-large;
        font-weight: 500;
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}