.status {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 80%;

    &__img {
        position: relative;
        animation: opacity 3s;
        width: 25%;
    }

    &__paragraph {
        padding-top: 2%;
        position: relative;
        animation: opacity 3s;
        font-size: x-large;
        font-weight: 500;
    }
}

@keyframes opacity {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}