.error404 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__containerImg {
        position: absolute;
        width: 50%;
    }

    &__img1,
    &__img2 {
        position: absolute;
        width: 100%;
    }

    &__img1 {
        animation: opacity 4s;
    }

    &__img2 {
        animation: opacity 0.5s;
    }

    &__containerTitle {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__title {
        animation: opacity 4s;
        text-align: center;
        font-size: 4rem;
        font-weight: bold;
        color: rgb(0, 0, 0);
    }
}

@keyframes opacity {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}