.cartOptions {
    display: grid;
    grid-template-columns: 100%;
    row-gap: 10px;
    width: 25%;
    padding: 1%;

    &__button,
    &__link {
        font-weight: 500;
        font-size: 1.15vw;
    }

    &__button {
        background-color: rgb(235, 235, 235);
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.7);
        border-radius: 5px;
        border-style: none;
        transition: 0.3s;
        cursor: pointer;
        padding: 1%;
    }

    &__button:hover {
        z-index: 1;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 1);
    }

    &__link {
        text-decoration: none;
        color: rgb(0, 0, 0);
    }
}