.form {

    &__container,
    &__forms {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title,
    &__label,
    &__error {
        margin: 2% 0;
        width: 100%;
    }

    &__label,
    &__input,
    &__button,
    &__error {
        font-weight: 500;
        font-size: initial;
    }

    &__container,
    &__input {
        width: 100%;
    }

    &__input,
    &__button {
        padding: 2% 0;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.7);
        border-style: none;
        border-radius: 5px;
        outline: none;
        cursor: pointer;
        transition: 0.3s;
    }

    &__input:hover,
    &__button:hover {
        box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 1);
    }

    &__title {
        text-align: center;
    }

    &__forms {
        width: 25%;
    }

    &__input:hover {
        background-color: rgb(255, 255, 255);
    }

    &__button {
        width: 75%;
        margin: 5% 0;
        background-color: rgb(235, 235, 235);
    }

    &__button:hover {
        background-color: rgb(255, 0, 0);
    }

    &__error {
        color: rgb(255, 0, 0);
    }
}